# Contains configuration that applies to all environments.
# Examples of built-in Poet configuration options below;
# see Poet::Manual::Configuration for the full list.

# SERVER
#
# These modules will be loaded on server startup.
#
server.load_modules:
   - DateTime
   - DBI
   - DBIx::Class
   - DBIx::Class::Core
   - Icemaker::Internal::DB::Schema::Result::Customer
   - Icemaker::Internal::DB::Schema::Result::Ingredient
   - Icemaker::Internal::DB::Schema::Result::Machine
   - Icemaker::Internal::DB::Schema::Result::Operator
   - Icemaker::Internal::DB::Schema::Result::OrderRecipe
   - Icemaker::Internal::DB::Schema::Result::OrderRecipeTub
   - Icemaker::Internal::DB::Schema::Result::Orders
   - Icemaker::Internal::DB::Schema::Result::Package
   - Icemaker::Internal::DB::Schema::Result::RecipeIngredient
   - Icemaker::Internal::DB::Schema::Result::Recipe
   - Icemaker::Internal::DB::Schema::Result::Supplier
   - Icemaker::Internal::DB::Schema::Result::UserAccess
   - Icemaker::Internal::DB::Schema::Result::User
   - Icemaker::Internal::DB::Schema
   - Icemaker::Database::DBS
   - Icemaker::Internal::User
   - Icemaker::Internal::Login
   - Icemaker::Internal::Permissions
   - Icemaker::Internal::Session
   - Icemaker::Internal::Supplier
   - Icemaker::Internal::Machine
   - Icemaker::Internal::Package
   - Icemaker::Internal::Ingredient
   - Icemaker::Internal::Recipe
   - Icemaker::Internal::Customer
   - Icemaker::Internal::Orders
   - Icemaker::Internal::DB::BaseDB
   - Icemaker::Internal::DB::CustomerDB
   - JSON::XS
   - Data::Dumper


# LOGGING
#
# This is the default log configuration. See Poet::Log.
#
log:
  defaults:
    level: info
    output: poet.log
    layout: "%d{dd/MMM/yyyy:HH:mm:ss.SS} [%p] %c - %m - %F:%L - %P%n"


# CACHING
#
# This is the default cache configuration. See Poet::Cache.
#
#cache:
#  defaults:
#    driver: File
#    root_dir: $root/data/cache
#
# Use memcached instead of files.
# 
#cache:
#  defaults:
#    driver: Memcached
#    servers: ["10.0.0.15:11211", "10.0.0.15:11212"]


# MASON
#
# Add Mason plugins or override Mason options here. See Poet::Mason.
#
#mason:
#  extra_plugins:
#    - TidyObjectFiles
#    - +My::Mason::Plugin
#  data_dir: /other/data/dir
